:root{
  --transition:.2s;
  --border-color:#ececec;
  --bg-color-page:#f2f3f5;
  --bg-color:#FFF;
  --border-radius:4px;
  --color-primary:#409eff;
  --color-success:#67c23a;
  --color-warning:#e6a23c;
  --color-danger:#f56c6c;
  
  --color-primary-light-9:#ecf5ff;
  --box-shadow:0px 12px 32px 4px rgba(0, 0, 0, 0.04),0px 8px 20px rgba(0, 0, 0, 0.08);
  --box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);;
  --box-shadow-lighter:0px 0px 6px rgba(0, 0, 0, 0.12);
  --text-color-primary:#303133;
  --color-white:#FFF;
  --color-info:rgb(144,147,153);
}
@import 'workflow.scss'
