button+button {
  margin-left: 10px;
}

button {
  border-width: 0px;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 4px;
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

button[type="primary"]{
  background-color: var(--color-primary);
}

button[type="warning"]{
  background-color: var(--color-warning);
}


input,textarea{
  border:1px solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  transition: var(--transition);
  resize: none;
  &:hover,&:active,&:focus{
    border-color: var(--color-primary);
  }
}