/* global defaults */
:root {
  --vf-node-bg: var(--bg-color-page);
  --vf-node-text: var(--text-color-primary);
  --vf-node-text-selectable: var(--color-white);
  --vf-connection-path: var(--border-color);
  --vf-handle: var(--color-info);
  /* custom */
  --vf-handle-primary:var(--color-primary);
  --vf-handle-success:var(--color-success);
  --vf-handle-warning:var(--color-warning);
  --vf-handle-danger:var(--color-danger);
  
  /* vue-flow container style */
  
  .vue-flow{
    background-color: var(--bg-color);
  }
  
   /* vue-flow__minimap style */
  
  .vue-flow__minimap{
    background-color: var(--bg-color);
  }
  
  /* vue-flow__background style */
  
  .vue-flow__background{
    background-color: var(--bg-color);
  }
  
  /* vue-flow__controls style */
  
  .vue-flow__controls{
    background-color: var(--bg-color);
    .vue-flow__controls-button{
      background-color: var(--bg-color);
      fill:var(--text-color-primary);
      border-color: var(--border-color);
    }
  }
  
  /* Node handle element wrapper style */
  
  .vue-flow__handle{
    background-color: var(--bg-color);
    border-color: var(--border-color);
  }
  
  /* node style */
  
  .vue-flow__node > .node-container{
    border-radius: var(--border-radius);
    background: var(--vf-node-bg);
    padding: 5px 10px;
    color:var(--vf-node-text);
    box-shadow: var(--box-shadow-lighter);
  }
  
  .vue-flow__node{
    transition: box-shadow var(--transition);
  }
  
  .vue-flow__node.selected {
    >.node-container{
      box-shadow: var(--box-shadow);
    }
    
  }
  
  .vue-flow__node{
    >.node-container{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .vue-flow__node-start > .node-container{
    background: var(--vf-handle-success);
    color:var(--vf-node-text-selectable);
  }
  
  .vue-flow__node-step > .node-container{
    background: var(--vf-node-bg);
    color:var(--vf-node-text);
  }
  
  .vue-flow__node-end > .node-container{
    background: var(--vf-handle-danger);
    color:var(--vf-node-text-selectable);
  }
  
  
  /* resize component */
  /* line style */
  
  .vue-flow__resize-control.line{
    border-color:var(--border-color);
  }
  
  /* control style */
  
  .vue-flow__resize-control.handle{
    background-color: var(--border-color);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    z-index: 1;
  }
  
}